<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="msbuilder" value="https://ci.appveyor.com/nuget/msbuilder" />
	</packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
